.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 40px;
  z-index: 1;

  display: flex;
  justify-content: space-between;

  /* animation */
  transition: all 0.3s ease-in;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 40px;
  position: fixed;
  left: 20px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 30px;
  width: 30px;
  object-fit: contain;
}
